<div class="flex justify-content-center align-items-center flex-column gap-2 register">
  <i class="pi pi-user" style="font-size: 3.5rem"></i>
  <div  class="flex flex-column gap-2">
    <label htmlFor="name">Nombre</label>
    <span class="p-input-icon-right">
      <i class="pi pi-pencil"></i>
      <input pInputText id="username" name="name" aria-describedby="username-help" [(ngModel)]="fullName" />
  </span>
  </div>
  <div  class="flex flex-column gap-2">
    <label htmlFor="email">Email</label>
    <span class="p-input-icon-right">
      <i class="pi pi-user"></i>
      <input pInputText id="username" name="email" aria-describedby="username-help" [(ngModel)]="email" />
    </span>
  </div>
  <div  class="flex flex-column gap-2">
    <label htmlFor="username">Password</label>
    <p-password [(ngModel)]="password" [toggleMask]="true" name="password"></p-password>
  </div>
  <a routerLink="/user/login">Iniciar sesion</a>
</div>
