<div class="flex justify-content-center align-items-center flex-column gap-2 login">
  <i class="pi pi-user" style="font-size: 3.5rem"></i>
  <div  class="flex flex-column gap-2">
    <label htmlFor="email">Email</label>
    <span class="p-input-icon-right">
      <i class="pi pi-user"></i>
      <input pInputText id="useremail" name="email" aria-describedby="useremail-help" [(ngModel)]="user.email" />
  </span>
  </div>
  <div  class="flex flex-column gap-2">
    <label htmlFor="userpassword">Password</label>
    <p-password [(ngModel)]="user.password" [toggleMask]="true" name="password"></p-password>
  </div>
  <p-button styleClass="login" label="Sing In" (onClick)="signIn()"></p-button>
  <p>Iniciar con otra opcion</p>
  <p-button label="Facebook"  icon="pi pi-facebook"></p-button>
  <p-button label="Google" class="google" styleClass="p-button-warning"  icon="pi pi-google"></p-button>
  <a routerLink="/user/register">Crear una cuenta</a>
</div>
